.book-card {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.book-card__img {
    margin-bottom: 30px;
    max-width: 400px;
    object-fit: cover;
}

.book-card__btn {
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
}