.about-me__title {
    margin-bottom: 50px;
    margin-top: 5px;
    width: 50%;
    text-align: center;
    background-color: #493f7e;
    margin-left: 50%;
    transform: translate(-50%);
    color: white;
    padding: 5px 0 15px;
    border-radius: 5px;

    @media (max-width:440px) {
        font-size: 18px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}

.about-me__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
}

.about-me__name {
    margin-bottom: 30px;
}

.about-me__email {
    white-space: nowrap;

    @media (max-width:440px) {
        font-size: 11px;
    }
}